**/*.bak
**/~$*.*
**/*.tmp
**/.*.swp
**/tags

**/Sim/*/.simvision
**/Sim/*/_In/
**/Sim/*/_Out/
**/Sim/*/log/*
!**/Sim/*/log/.gitkeep
**/Sim/*/wave/*
!**/Sim/*/wave/.gitkeep
**/Sim/*/work/
**/Sim/*/transcript
**/Sim/*/wlft*
**/Sim/*/*.vstf

